@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    background-color: var(--cor-fundo-padrao);
    display: grid;

    grid: 
    "video-em-reproducao secao-lateral"
    "video-em-reproducao secao-lateral";
    padding: 38px;
    grid-column-gap: 17px;
}

main {
    grid-area: video-em-reproducao;
}

aside {
    grid-area: secao-lateral;
}

video.video-em-reproducao {
    height: 217px;
    width: 543px;
    background-color: var(--cor-video-fundo-padrao);
    margin-bottom: 12px;
}

h2.titulo-video-em-reproducao {
    font-size: var(--tamanho-fonte-titulo-video);
    font-weight: 700;
    margin-bottom: 7px;
}

p.visualizacoes-video-em-reproducao {
    font-size: var
    (--tamanho-fonte-titulo-videos-relacionados, 14px);
    font-weight: 300;
    margin-bottom: 9px;
}

p.descricao-do-video {
    font-size: var(--tamanho-fonte-descricao, 16px);
}

video.propaganda {
    width: 270px;
    height: 56px;
    background-color: var(--cor-video-fundo-padrao);
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

img.imagem-video-relacionado {
    min-width: 101px;
    min-height: 71px;
    background-color: var(--cor-video-fundo-padrao);
    margin-right: 4px;
}

h3.titulo-video-relacionado {
    font-size: var(--tamanho-fonte-videos-relacionados);
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 165px;
    margin-bottom: 7px;
}

p.autor, .visualizacoes, .tempo-de-postagem  {
    font-size: var(--tamanho-fonte-padrao-videos-relacionados);
    display: flex;
    align-items: flex-end;
}

p.autor, .visualizacoes {
    margin-bottom: 5px;
}