:root {
    --cor-fundo-padrao: #f7f7f7;
    --cor-video-fundo-padrao: #000000;

    --tamanho-fonte-descricao: 16px;
    --tamanho-fonte-titulo-video: 18px;

    --tamanho-fonte-titulo-videos-relacionados: 14px;
    --tamanho-fonte-padrao-videos-relacionados: 11px;
}