@media (max-width: 769px) {

    header {
        margin: 0;
        padding: 0;
        flex-flow: column;
        height: 100vh;
        /* justify-content: center; */
        align-items: center;
    }
    
    header div.logo img{
        max-width: 46px;
        margin-right: 10px;
    }

    header .logo img, header .logo h1 {
        margin: 0;
        margin-top: 50px;
        margin-bottom: 55px;
    }

    nav {
        display: flex;
        flex-flow: column;
        margin: 0;
    }

    nav a {
        font-size: 47px;
        margin-top: 33px;
    }

    a, button {
        margin-left: 0;
    }

    nav.menu a {
        padding: 17px 51px;
    }

    nav button.cadastre-se {
        font-size: 25px;
        padding: 15px 23px;
        margin: 50px
    }
}