@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

main {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    height: 100%;
}

header {
    display: flex;
}

header .logo {
    display: flex;
    flex-flow: row;
}

header .logo img {
    margin: 45px 5px 45px 45px;
}

h1 {
    display: flex;
    align-items: center;
}

nav.menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 45px;
}

nav.menu a {
    padding: 11px 7px;
}

nav.menu a:hover {
    background-color: #5BC241;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}

a, button {
    margin-left: 30px;
}

button.cadastre-se {
    background-color: #5BC241;
    border-color: rgba(0,0,0,0);
    border-radius: 10px;
    font-weight: 300;
    color: #FFFFFF;
    padding: 10px 21px;
}