body {
    font-family: 'Public Sans', sans-serif;
}

main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.pinturas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.pintura {
    width: 335px;
    height: 431px;
    position: relative;
}

.pintura img {
    width: 100%;
}

.pintura .informacoes {
    color: white;
    left: 19px;
    position: absolute;
    bottom: 40px;
}

.titulo {
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 6px;
}

.autor {
    font-weight: 400;
    font-size: 17px;
}