@media(max-width: 960px) {
    
    nav {
        width: 100%;
        text-align: center;
    }

    a {
        font-size: 40px;
    }

    .logo {
        display: flex;
        width: 100%;
        font-size: 40px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        width: 100%;
        width: 46px;
    }

    .menu li {
        display: block;
        margin-top: 50px;
        margin: auto;
        margin-top: 50px;
    }
    
    .caixa-selecao {
        background-color: #5BC241;
        width: 233px;
        height: 81px;
    }

    .caixa-selecao a {
        display: flex;
        padding: 17px 38px 17px 41px;
        justify-content: center; 
    }

    .menu li.botao-cadastro {
        display: flex;
        padding: 0;
        height: 55px;
        width: 151px;
        justify-content: center;
    }
    .botao-cadastro a{
        font-size: 18px;
    }
}